<% include header %>

<div class="container">
  <h1>Hi there, my name is Wanda. How can I help you?</h1>
  <img src="/logo.png" />
  <p class="lead">
    Beep. boop. Beep. boop.
  </p>
  <p>
    Loading Data.....
  </p>
</div>

<% include footer %>
