<% include header %>

<div class="container">
  <!-- <h1>Original Coast Clothing</h1> -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand navbar-center" href="#">Wandr</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="https://www.facebook.com/Wandr-101780417918465/">FB Page</a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="text-align: center;">
    <img id="logo" style="padding-top: 100px" src="/logo.png" />
    <p class="lead">
      We’re open 7 days, so start your shopping experience now!
    </p>
  </div>
</div>

<% include footer %>
